@model LoginModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Войти</title>
</head>
<body class="page_main">
    <div class="validation" asp-validation-summary="ModelOnly"></div>

    <form asp-action="Login" asp-controller="User" asp-anti-forgery="true">
        <table>
            <tr>
                <td><label asp-for="Login"></label></td>
                <td><input asp-for="Login"></td>
                <td><span asp-validation-for="Login" class="text-danger"></span></td>
            </tr>
            <tr>
                <td><label asp-for="Password"></label></td>
                <td> <input asp-for="Password"></td>
                <td><span asp-validation-for="Password" class="text-danger"></span></td>
            </tr>
        </table>
        <button type="submit">Войти</button>
    </form>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}