<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/Main.css">
    <meta charset="UTF-8">
    <title>ХакаЧто?</title>
    <script src="/js/jquery-3.5.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<img src="Images\текстура бумаги 17 проц.jpg" height="auto" width="auto" class="texture">
<div class="select">
    <button class="block" href="./profession.html" onclick="redirectPage(this)">
        Кем стать?
    </button>
    <div class="separator">
    </div>
    <button class="block" href="./profession.html" onclick="redirectPage(this)">
        Чему научиться?
    </button>
</div>
<div class="start">
    <div class="message">
        <div class="text">
            Ну что, начнём приключение?
        </div>
        <div class="sign">
            - Мистер "?"
        </div>
    </div>
    <div class="character">
    </div>
    <div class="rectangle">
    </div>
    <div class="line">
    </div>
    <div class="start_button">
        <div class="first">
            <div class="second">
                <div class="start_text">
                    СТАРТ
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/scripts.js"></script>
</body>
</html>